button{
    background-color: #77d970;
  width: 8%;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 50px; 
  border: 1px solid;
  box-shadow: 0px 3px 10px rgb(2, 90, 2);
}
#buton_calculeaza:hover {
    transform: scale(1.1);
    animation-name: submit;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }